.buttonInfo{

  color: #fafafa;
  font-size: 1em;
  background: #5A486E;
  padding: 0.5em 1em 0.5em 1em;
  border: 6px solid white ;
  text-decoration: none;
  /* box-shadow: 1px 1px 2px 0px rgba(33, 29, 38, 0.92); */
  
}

.buttonInfo:hover{
    background: #64507A;
    text-decoration: none;
    cursor: pointer;
}

.buttonInfoActive{
  background:#9779BA;
  transform:scale(1, 1);
 
 outline:none;
  color: #fafafa;
  font-size: 1em;
  padding: 0.5em 1em 0.5em 1em;
  border:  1px solid #5A486E;
  text-decoration: none;
  box-shadow: 1px 1px 2px 0px rgba(33, 29, 38, 0.92);
  transition: all 0.2s linear;
}
/* .buttonInfoActive:hover{
  background: #64507A;
  text-decoration: none;
  cursor: pointer;
} */

.timetableBtnGrpDiv{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}