.buttonInfo{
  box-sizing: border-box;

  color: #fafafa;
  font-size: 1em;
  /* background: #5A486E; */
  /* background: #384A6E; */
  background:#4F6128;
  padding: 0.5em 1em 0.5em 1em;
  border: 1px solid white ;
  text-decoration: none;
  outline: none;
  /* box-shadow: 1px 1px 2px 0px rgba(33, 29, 38, 0.92); */
  
}

.buttonInfo:hover{

    background:#8DAD47;
    text-decoration: none;
    cursor: pointer;
}

.buttonInfoActive{
  border: 1px solid transparent;
  background:#8DAD47;
  transform:scale(1.1);
  outline:none;
  color: #fafafa;
  font-size: 1em;
  padding: 0.5em 1em 0.5em 1em;
  text-decoration: none;
  transition: all 0.2s linear;
}


.timetableBtnGrpDiv{
  display: grid;
  grid-gap:0.5em;
  margin-bottom:0.5em;
  position: relative;
  max-width:100%;
  box-sizing: border-box;;
  grid-template-columns: repeat(8,1fr);
}

/* @media only screen and (max-width: 850px) {
  .timetableBtnGrpDiv{

    grid-template-columns: repeat(4,1fr);
  }

} */

@media only screen and (max-width: 600px) {
  .timetableBtnGrpDiv{

    grid-template-columns: repeat(4,1fr);
  }

}

/* @media only screen and (max-width: 450px) {
  .timetableBtnGrpDiv{

    grid-template-columns: repeat(2,1fr);
    width:100%;
  }

} */

/* @media only screen and (max-width: 410px) {
  .timetableBtnGrpDiv{

    grid-template-columns: 1fr;
  }

} */