.buttonSmall{
  color: darkslategray;
  font-size: 0.8em;
  font-weight: 600;
  background: white;
  padding: 0.5em 1em 0.5em 1em;
  border: solid darkslategray 1px;
  text-decoration: none;
  box-shadow: 1px 1px 2px 0px rgba(33, 29, 38, 0.92);
}
.expandCollapseBtn{
  background:none;
  outline:none;
  border:none;
  cursor: pointer;
}
.expandCollapseBtn img{
  max-width:1em;
}
.showMore{
  background:none;
  outline:none;
  border:none;
  cursor: pointer;
  max-height: 2em;
  
}
.buttonSmall:hover{
    cursor: pointer;
    transition:all 0.3s ease-in;
}

.buttonGrp{
  display:grid;
  grid-template-columns: 1fr 3fr 3fr;
 
 
}

.redBtn{
  background:#943d2e;
  color:#fff;
  box-shadow: none;
  
}

.redBtn:hover{
  background:#a15547;
}

.blueBtn{
  background:#384a6e;
  color:#fff;
  box-shadow: none;
  
}

.blueBtn:hover{
  background:#4e5e7e;
}

.greenBtn{
  background:#4f6128 ;
  color:#fff;
  
}

.greenBtn:hover{
  background:#5a7228;
}

.clearBtn{
  background:white ;
}

.greenBtn:hover{
  background:#5a7228;
}




.buttonMainFave{
  border-radius: 2px;
  color: #fafafa;
  font-size: 1em;
  background: #384a6e;
  padding: 0.5em 1em 0.5em 1em;
  border: 2px solid #384a6e;
  text-decoration: none;
  padding:1em 2em;
  transition:all 0.2s linear;
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 500;
  width: 100%;
  
}

.expandCollapseBtn{
  display: grid;
}

.buttonMainFave:hover,
.buttonMainFave:focus{
  outline:none;
  background: #fff;
    text-decoration: none;
    cursor: pointer;
    color:#384a6e;
}


.tooltip {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  color: white;
  background:rgba(47,79,79,0.9);
  text-align: center;
  font-size: 0.8em;
  max-width:100%;
  position: absolute;
  left:0;
  top:-5em;
  z-index: 1;
  padding:1em 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media only screen and (max-width: 650px) {

  .tooltiptext {
   
    left:0.2em;
    top:0.2em;
  
  }
}




