.buttonSmall{
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  color: #fafafa;
  font-size: 0.8em;
  font-weight: 600;
  background: #4f6128;
  padding: 0.5em 1em 0.5em 1em;
  border: solid #4f6128 1px;
  text-decoration: none;
  box-shadow: 1px 1px 2px 0px rgba(33, 29, 38, 0.92);
}

.buttonSmall:hover{

    background: #5a7228;
    text-decoration: none;
    cursor: pointer;
}

.buttonGrp{
  display:flex;
  justify-content: space-around;
}

.redBtn{
  background:#7A41BA;
  
}

.redBtn:hover{
  background:#9779BA;
  
}