.timetableDiv{
  display:grid;
  justify-items: center;

}

@media only screen and (max-width: 600px) {
  .th, .td{
    padding:0.2em !important;
    font-size:0.8em;
  }
}
.divAboveTable{
  display:grid;
  justify-content: left;
  width: 100%;
  padding-left:1em;
}
.divAboveTable h5{
 margin:0.5em;
 
}
.table{
 background:#DCE1CF;
  width:100%;
}
@media only screen and (max-width: 600px) {
  .td{
    padding:0;
    
  }
  .th{
    padding:0;
  }
  .divAboveTable h5{
 
    /* background:blue; */
   }
}

@media only screen and (max-width: 450px) {
  .table{
    font-size: 14px;
   }
  }


.tr:hover{
  background: linear-gradient(45deg, rgba(90,72,110,1), rgba(90,72,110,0.8));
}

/* .tr:hover .tdClickable .td{
  background:none;
}  */

.th{
  padding:1em;
  border:1.5px solid  rgba(79, 97, 40, 1);
  color:white;
  background:#9DAD7B;
}

.td{
  padding:1em;
  border:1px solid  rgba(79, 97, 40, 1);
  background: linear-gradient( #88AD36, #92AD58);
  color:white;
  font-size:0.8em;
}
.td:hover{
  background: linear-gradient( rgba(79, 97, 40, 0.9), rgba(79, 97, 40, 0.81));
  border:1px solid  rgb(72, 85, 45);
}

.tdClickable{
  cursor: pointer;
  padding:1rem;
  border:1px solid  rgba(79, 97, 40, 1);
  background: linear-gradient( #88AD36, #92AD58);
  color:white;
  font-size:0.8em;
}
.tdClickable:hover{
  background: linear-gradient( rgba(79, 97, 40, 0.9), rgba(79, 97, 40, 0.81));
  border:1px solid  rgb(72, 85, 45);
}

.span{
  font-size: 0.8em;
  display:block;
}

.th img{
  max-width: 70%;
}
