.timetableDiv{
  display:grid;
  justify-items: center;

}

@media only screen and (min-width: 600px) {
  .timetableDiv {
    max-width:70%;
    margin-left:15%;
  }
}
.divAboveTable{
  display:grid;
  justify-content: left;
  width: 100%;
  padding-left:1em;
}
.divAboveTable h5{
 margin:0.5em;
 
}
.table{
  /* background: linear-gradient( rgba(119, 143, 67, 0.9), rgba(120, 146, 64, 0.81)); */
  background:#9DAD7B;
  width:100%;
}
@media only screen and (max-width: 600px) {
  .td{
    padding:0;
  }
  .th{
    padding:0;
  }
  .divAboveTable h5{
 
    background:blue;
   }
}

/* .tr{
  padding:6em;
} */
.tr:hover{
  background:#CBFA66;
}

.th{
  padding:1em;
  border:1.5px solid  rgba(79, 97, 40, 1);
  color:white;
}

.td{
  padding:1rem;
  border:1px solid  rgba(79, 97, 40, 1);
  /* background: linear-gradient( rgba(79, 97, 40, 0.9), rgba(79, 97, 40, 0.81)); */
  color:white;
  font-size:0.8em;
}
.td:hover{
 
  border:1px solid  rgb(72, 85, 45);
  background:#8DAD47;

}
