.linksWrapDiv{
  border-left:8px solid #AD4F3E;
  padding-left:32px;
  
}

.stopLinkDiv h4:before{
  content:'';
  border:4px solid #4f6128;
  width:20px;
  display:inline-block;
  margin-left:-32px;
  margin-right: 16px;
}

.Link{
  color:gray;
  text-decoration: none;
 
}