.theUl{
  list-style-type:none;
  text-align: left;
  margin:0;
  padding:0;
  background:white;
}

.theUlHide{
  display:none;
}
/* .theUlHide{
  display:none;
} */

.theUl::before{
  content:"";
}

.theLi{
  padding: 10px 5px;
  cursor: pointer;
  background: #ffffff;
  border-top: 1px solid #f0f0f0;
}