.searchStopWrap{
  /* width: 100%; */
  /* border: 2px solid green; */
  /* grid-template-rows: 1fr 1fr 1fr;  */
  grid-template-columns: 1fr;
  grid-gap: 0.2rem;
  display: grid;
  margin: 2rem 0;
  background: #f0f0f0;
  background:url('../../img/bus_design.svg'), linear-gradient(#f0f0f0,#f0f0f0);
  /* background:url('../../img/bus_design.svg'), linear-gradient(#f0f0f0,#f0f0f0); */
  border-left: 10px solid #4f6128;
  /* background: #dfe3d8; */
  padding:1em;
  
}
.inputButtonDivUser{
  width: 100%;
  grid-template-columns: 6fr 1fr 1fr;
  grid-gap: 0.2rem;
  display: grid;
}




.inputButtonDiv{
  width: 100%;
  grid-template-columns: 6fr 1fr;
  grid-gap: 0.2rem;
  display: grid;
}

.inputBox{
    /* width: 100%; */
    border:none;
    border:2px solid #62723f;
    font-size: 1em;
    color: grey;
    padding:1em 0.5em;
    box-sizing:border-box;
    outline:none;
    font-family: inherit;
}
.show{
  display: inline;
}
.sectionH3{
  font-size:1.6em;
  color:darkslategray;
  }
  .infoP{
    margin:0;
  }
  .minHeightP{
    min-height: 1em;
  }

  .minHeightP small{
    background:white;
  }

.buttonMain{
  border-radius: 2px;
  color: #fafafa;
  font-size: 1em;
  background: #4f6128;
  padding: 0.5em 1em 0.5em 1em;
  border: 2px solid #4f6128 ;
  text-decoration: none;
  padding:1em 2em;
  transition:all 0.2s linear;
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 500;
  width: 100%;
  height: 100%;
}



.buttonMain:hover,
.buttonMain:focus{
  outline:none;
    background: #8DAD47;
    text-decoration: none;
    cursor: pointer;
    /* box-shadow: 1px 1px 2px 0px rgba(33, 29, 38, 0.92); */
   
    
}


.tooltip {
  position: relative;
  /* position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; */
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  color: white;
  background:rgba(47,79,79,0.9);
  text-align: center;
  font-size: 0.8em;
  max-width:100%;
  position: absolute;
  left:0;
  top:-5em;
  z-index: 1;
  padding:1em 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media only screen and (max-width: 650px) {
  .inputButtonDivUser{
    width: 100%;
    grid-template-columns:  1fr;
   
  }

  .tooltiptext {
    left:0.2em;
    top:0.2em;
  }
}

@media only screen and (max-width: 650px) {
  .inputButtonDiv{
    width: 100%;
    grid-template-columns:  1fr;
   
  }

  .tooltiptext {
    left:0.2em;
    top:0.2em;
  }
}




