.weatherP{
  margin-top:0;
  
}

.infoText{
  font-size:0.8em;
  color:#5A486E;
  margin:0;
}

.weatherCompDiv{
  background:#E7E0EF;
  padding:1em;
  height:60px;
}
.weatherP{
  margin:0;

}

.weatherIcon{
  height: 2em;

margin: 0 1em;
}