.weatherP{
  margin-top:0;
  
}

.infoText{
  font-size:0.8em;
  margin:0;
 
}

.weatherCompDiv{
  background: #ffffff;
  padding: 0em 1em;
  height:10vh;
  display:grid;
  align-content: center;
  
}
.weatherP{
  margin:0;
  
  font-weight: bold;

}

.weatherIcon{
  height: 2em;

margin: 0 1em;
}