.routeListWrap{
  background: #f0f0f0;
   background:url('../../img/bus_design.svg'), linear-gradient(#f0f0f0,#f0f0f0);
  padding:1rem;
  margin:2rem 0;
  border-left: 10px solid #943d2e;
}
.routewrap{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:1rem;
 
}

.sectionH3{
font-size:1.6em;
color:darkslategray;
}

.routebox{
  background: #f0f0f0;
  background-image: url('../../img/onepix.png');
  background-size:auto;
  background-repeat: repeat;
  padding:0.3rem;
  color:darkslategray;
  padding:1em;
  border: 2px solid transparent;
  transition:all 0.3s linear;
  min-height:150px;
  display:grid;
  align-items: center;
  align-content: center;
  
  
}

.routebox:hover{
  background-size:auto;
  background-image:none;
  background-repeat: repeat;
  transform:scale(1.01);
  border:2px solid #943d2e;
  border-radius: 0.2em; 
  background-repeat: repeat;
}

.routebox:hover p.routeno{
  background-image: url('../../img/onepix.png');
  border: 1px solid transparent;
  background-color:rgba(255,255,255,0);
  font-weight: bold;
  
 } 

 .routebox:hover p.routename{
  background-image: url('../../img/onepix.png');
  border: 1px solid transparent;
  background-color:rgba(255,255,255,0);
  
 } 

.plainLink{
  text-decoration: none;
  align-content: center;
display: grid;

  
}

.routeno{
  font-weight: 700;
  border: 2px solid #943D2E;
  padding: 0.5em;
  margin: 0.5em 0;
  color: #943D2E;
  border-radius: 0.2em;
  text-align: center;
  max-width: 3em;
  height: 3em;
  display: grid;
  align-items: center;
  background-size:auto;
  background-repeat: repeat;
  transition:all 0.3s linear;
  background:rgba(255,255,255,1);
}


.routename{
  font-size: 1em;
  color:darkslategray;
  background:white;
  display: grid;
  align-self: center;
  transition:all 0.3s linear;
}


/* .tooltip {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  color: white;
  background:rgba(47,79,79,0.9);
  text-align: center;
  font-size: 0.8em;
  max-width:100%;
  position: absolute;
  transition:all 0.1s ease-in;
  right:0;
  top:0em;
  z-index: 1;
  padding:1em 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
} */


@media only screen and (max-width: 700px) {
  .routewrap{
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .routewrap{
    grid-template-columns: 1fr;
  }
}


