.routeListWrap{
  /* background:#eceee7; */
  background:#384A6E;
  padding:1rem;
  margin:2rem 0;
}
.routewrap{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:1rem;
 
}

.sectionH3{
font-size:1.6em;
color:#fff;
}

.routebox{
  background:white;
  padding:0.3rem;
  color:gray;
  padding:1em;
  border: 3px solid transparent;
  transition:all 200ms ease-in-out;
  min-height:150px;
  display:grid;
  align-items: center;
  
}

.routebox:hover{
  transform:scale(1.05);
  border:2px solid #AD4F3E;
  border-radius: 0.2em; 
}

.plainLink{
  text-decoration: none;
}

.routeno{
  font-weight: 700;
  border: 2px solid #943D2E;
  /* display: inline; */
  padding: 0.5em;
  margin: 0.5em 0;
  color: #943D2E;
  border-radius: 0.2em;
  text-align: center;
  max-width: 3em;
  height: 3em;
  display: grid;
  align-items: center;
}

.routename{
  font-size: 1em;
  color:#4f6128;
  display: grid;
  align-self: center;
}


@media only screen and (max-width: 600px) {
  .routewrap{
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 320px) {
  .routewrap{
    grid-template-columns: 1fr;
  }
}
