.faveListWrap{
 background: #f0f0f0;
 background:url('../../img/bus_design.svg'), linear-gradient(#f0f0f0,#f0f0f0);
padding: 1rem;
margin: 2rem 0;
padding: 2rem 1rem;
border-left: 10px solid #384a6e;
  
}
.h3AndExpandCollapse{
  display:flex;
  grid-template-columns: 1fr 1fr;
  justify-items:flex-start;
}
.routewrap{
  display:grid;
  grid-gap:1rem;
 
}

.faveListWrap{
  background: #f0f0f0;
  background:url('../../img/bus_design.svg'), linear-gradient(#f0f0f0,#f0f0f0);
 padding: 1rem;
 margin: 2rem 0;
 padding: 1rem 1rem;
 border-left: 10px solid #384a6e;
   
 }
 .h3AndExpandCollapse{
   display:flex;
   grid-template-columns: 1fr 1fr;
   justify-items:flex-start;
 }



.routebox{
  background:white;
  padding:0.3rem;
  color:gray;
  padding:1em;
  border: 2px solid transparent;
  transition:all 200ms ease-in-out;
  min-height:150px;
  display:grid;
  align-items: center;
  
}

.routeboxCollapsed{
  background:white;
  border: 2px solid transparent;
  transition:all 0.2s ease-in-out;
  display:grid;
  align-items: center;
}
.routeboxCollapsedInvert{
  background:#384a6e;
  border: 2px solid transparent;
  transition:all 0.2s ease-in-out;
  display:grid;
  align-items: center;
}

.routeboxCollapsedInvert:hover,
.routeboxCollapsedInvert:focus{
  background: #fff;
  border:2px solid #384a6e;
}
.routeboxCollapsedInvert:hover .routenoCollapsedInvert{
  color:#384a6e;
}

.routebox .plainLink:hover {
  transform:scale(1.03);
  border:2px solid #384a6e;
  border-radius: 0.2em; 
  text-decoration: none;
  background:whitesmoke;
 
}

.expandCollapseBtn{
  background:none;
  outline:none;
  border:none;
  cursor: pointer;
}

.expandCollapseBtn img{
  max-width: 1.5em;

}
.sectionH3{
  font-size:1.6em;
  color:darkslategray;
  }

.plainLink{
  text-decoration: none;
  border:2px solid transparent;
  padding:1em 0.5em;
  margin-bottom:0.5em;
 
}
.plainLinkCollapsed{
  text-decoration: none;
  border:2px solid transparent;
  transition: all 0.3s ease-out;
}

.plainLinkCollapsedInvert{
  text-decoration: none;
}



.plainLinkCollapsed:hover, 
.plainLinkCollapsed:focus{
 
  border:2px solid #384a6e;
  
}



.routeno{
  font-weight: 500;
  color:#384a6e;
}

.routenoCollapsed{
  font-weight: 500;
  color: #384a6e;
  margin: 0;
  padding: 0.5em 1em;
}

.routenoCollapsedInvert{
  font-weight: 500;
  color: #fff;
  margin: 0;
  padding: 0.5em 1em;
  transition:all 0.2s ease-out;
  position: relative;
}
.arrowSpan{
  position: absolute;
  right: 1em;
}

.routenoCollapsed{
  font-weight: 500;
  color: #384a6e;
  margin: 0;
  padding: 0.5em 1em;
}

.routenoCollapsedMore{
  font-weight: 500;
  color:#fff;
  margin: 0;
  padding: 0.5em 1em;
}

.routename{
 
  color:darkslategray;
  font-size: 0.8em;
  display: grid;
  align-self: center;
  
}

@media only screen and (max-width: 380px) {
  .routewrap{
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 320px) {
  .routewrap{
    grid-template-columns: 1fr;
  }
}

.warningText{
  color:#943D2E;
 
  font-size:0.8em;
  margin:0.3em;
  display: inline;
}
.buttonSmall{
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  color: #fafafa;
  font-size: 0.8em;
  font-weight: 600;
  background: #4f6128;
  padding: 0.5em 1em 0.5em 1em;
  border: solid #4f6128 1px;
  text-decoration: none;
  box-shadow: 1px 1px 2px 0px rgba(33, 29, 38, 0.92);
}

.buttonSmall:hover{

    background: #5a7228;
    text-decoration: none;
    cursor: pointer;
}

.warningDiv{
  margin:1em;
  background:#f4f8ed;
  padding:1em;
  display:grid;
}

.editSpan{
  display: inline;
  font-size: 1.6em;
  margin-right: 0.3em;
  font-weight: bold;
}

.editDiv{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

@media only screen and (min-width: 1200px) {
  .faveListWrap{
    margin: 2rem;
  }
  
}
