.faveListWrap{
  background:#e5edd3;
  padding:1rem;
  margin:2rem 0;
}
.routewrap{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:1rem;
 
}

.routebox{
  background:#5A486E;
  padding:0.3rem;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(33, 29, 38, 0.92);
  -moz-box-shadow: 1px 1px 2px 0px rgba(33, 29, 38, 0.92);
  box-shadow: 1px 1px 2px 0px rgba(33, 29, 38, 0.92);
  
}

.plainLink{
  text-decoration: none;
}

.routeno{
  font-weight: 700;
  color:white;
}

.routename{
  font-size: 0.8rem;
  color:white;
  
}

@media only screen and (max-width: 380px) {
  .routewrap{
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 320px) {
  .routewrap{
    grid-template-columns: 1fr;
  }
}
