.theForm{
  display:grid;
  grid-template-columns:1fr;
  grid-gap:2rem;

}

.formGroup{
  display:grid;
  grid-gap:0.5rem;
}

.formGroup > input{
  padding:0.5rem;
  font-size:1rem;
}

.formGroup > label{
  font-weight: bold;
}

p.error{
  color:#ad4f3e;
  font-size:0.8em;
  margin: 0;
}

.valid{
  border: 2px solid #7d8d59;
}

.invalid{
  border:2px solid #ad4f3e;
}