.homePageHeroWrap{
  background:#f0f0f0;
  background-image: url('../../../img/sky.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  display: grid;
  align-content: center;
  align-items: center;
  position: relative;
}
.wrapOne{
  display:grid;
  justify-content: center;
  justify-items:center;
  padding: 10rem 0;
}

 .logo a{
  color:white;
  text-decoration: none;
  font-size: 2rem;
  font-weight:800;
  text-align: center;
}


 .busoutline{
  height: 77%;
  align-self: self-end;
  display: grid;
  justify-self: center;
  position: absolute;
} 



