.homePageHeroWrap{
  /* background-image: url('../../../img/rainBusGreen2.png'), linear-gradient(#49424142, #d135310d); */
  /* background: #0e9aa6; */
  background:#384a6e;
  background-image: url('../../../img/sky.png');
  /* background-image: url('../../../img/rainBusGreen.png'); */
  /* background: linear-gradient(45deg, #4f6128, #5f7431e8); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  display: grid;
  align-content: center;
  align-items: center;
  position: relative;
}
.wrapOne{
  display:grid;
  justify-content: center;
 
 
  justify-items:center;
  /* background: linear-gradient(#494241e3, #202d2000); */
  padding: 10rem 0;
 
}

 .logo a{
  color:white;
  text-decoration: none;
  font-size: 2rem;
  font-weight:800;
  text-align: center;

}


 .busoutline{
  height: 77%;
  align-self: self-end;
  display: grid;
  justify-self: center;

  position: absolute;
} 



