.breadcrumbDiv{
  margin:1rem 0;
  background: #f0f0f0;
  border-left: 8px solid #ad4f3e;
  padding:0.5em;
  color:white;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  
}

.breadLink{
  color:darkslategray;
  text-decoration: none;
}

.breadBusid{
  color:darkslategray;
}



.breadLink:hover{
  color:#5A486E;
  text-decoration: none;
}

.breadSlash{
  margin: 0 0.5rem;
  color:darkslategray;
}

