.mapWrapDiv div{
  max-width: 100%;

}

.mapWrapDiv {
width:100%;
  border-left: 8px solid #AD4F3E;
}
.markerBtn{
  background:none;
  border:none;
  cursor: pointer;
  max-width:16px;
}

.markerBtn img{

  max-width:2em;
}

/* .mapboxgl-canvas{
  width: 100%;
height: 100%;
} */
