.mapWrapDiv div{
  max-width: 100%;
}

.mapWrapDiv {
width:100%;
  border-left: 8px solid #AD4F3E;
}
.markerBtn{
  background:none;
  border:none;
  cursor: pointer;
  max-width:16px;
}

.markerBtn img{

  max-width:2em;
}

.linkSize{
  display:grid;
  background:#4f6128;
  padding: 0.5em 0.5em;
  justify-content: center;
  text-decoration: none;
  color:white;
  font-weight: 500;
  
  
}

