.mainProfileWrap{
  display: grid;
  grid-template-areas: "user user" "searchForStop form " " quickStops .";
  grid-gap: 1em;
  grid-auto-columns: 1fr;
}

.linksAndSearch{
  grid-area: linksAndSearch;
  /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAABHNCS…AhSURBVAiZY2CgA/BLUpdKSzNmRRdnYvjPGP/izxdRdAkAsO8GRIFpQ48AAAAASUVORK5CYII=); */
  /* padding: 0 2em; */
  /* background-color: #f0f0f0; */
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 2fr;
  grid-gap: 1em;
}
.profilePicWrap{
display:grid;
background-image: url('../../img/onepix.png');
justify-items: center;
align-items: center;
align-content: center;
padding:1em;
grid-area: user;
background-color: #f0f0f0;
}
.profilePicDiv{
  width:20vw;
  height:20vw;
  background:#edeff2;
  border:1px solid #c5cbd5;
  display:grid;
  align-items:center;
  justify-content: center;
  padding:2px;
  padding:1em; 
   border-radius: 50%;
}
/* @media only screen and (max-width: 800px) {
  .mainProfileWrap{
    grid-template-areas: "user user""form form";
 
  }
  
} */

.profileFormWrap{
  padding: 2em;
  background:url('../../img/bus_design.svg'), linear-gradient(#f0f0f0,#f0f0f0);
  grid-area: form;
}

.profileUserName{
  color:darkslategray;
  font-weight: bold;
}

.profilePicDiv img{
  max-width: 100%;
}
.SearchForStop{
  grid-area: searchForStop;
      background: #f0f0f0;
    border-left: 10px solid #4f6128;
    grid-gap: 1em;
    background:url('../../img/bus_design.svg'), linear-gradient(#f0f0f0,#f0f0f0);

}

.UserSection{
  grid-area: quickStops;
  background: #f0f0f0;
  border-left: 10px solid #384a6e;
  grid-gap: 1em;
  background:url('../../img/bus_design.svg'), linear-gradient(#f0f0f0,#f0f0f0);
}
.toAllign{
  margin-left:-10px;
  
  /* display:grid;
  align-content: center; */
  height: 100%;

}

/* .toAllign div{
  background:none;
  margin:0;
  max-height:100%;

} */
.buttonSmall{
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  color: #fafafa;
  font-size: 0.8em;
  font-weight: 600;
  background: #384a6e;
  padding: 0.5em 1em 0.5em 1em;
  border: solid #4f6128 1px;
  text-decoration: none;
  transition: all 0.2s ease-out;
  box-shadow: 1px 1px 2px 0px rgba(33, 29, 38, 0.92);
}

.buttonSmall:hover{

    background: #4e5e7e;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 1px 1px 2px 0px rgba(33, 29, 38, 0);
}




@media only screen and (max-width: 900px) {
  .mainProfileWrap{

    grid-template-areas: "user" "searchForStop" "quickStops" "form" ;
  
  }
}
